
html, body{
    margin: 0px;
    background-color:black;
}

.container {
    padding: 10px 25px 10px 25px;
    max-width: 1300px;
    background-color: darkgray;
    margin: auto;
    
}

.nav-wrapper {
    background-color: #212121;
    font-size: 20px;
    
}

.brandImage {
    max-height: 62px;
    padding: 5px;
}

.card-title {
    font: bold;
    font-size: 30px;
}

.blocks {
    
    display: inline-block;
    max-width: 300px;
    padding: 10 px;
    margin: 10px 5px 5px 15px;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 280px;
}

.page-footer{
    background-color: black !important;
}

.footer-copyright {
    background-color: black !important;
}