

html, body{
    margin: 0px;
    background-color:rgba(16, 19, 17, 0.74) !important;
}

.card-panel {
    padding: 10px 25px 10px 25px;
    max-width: 70%;
    background-color: darkgray !important;
    margin: auto !important;
    text-align: center
}

.container {
    padding: 10px 25px 10px 25px;
    max-width: 1300px;
    background-color: darkgray;
    margin: auto;
    
}

.nav-wrapper {
    background-color: #282826;
      
}

.brand-logo{
    color: #00bcd4 !important;
    padding: 5px;
    
}

.brandImage {
    max-height: 64px;
    
}

.card-title {
    font-weight:  bold !important;
    
    color:whitesmoke !important;
    
    text-align: center !important;
    margin: 10px;
    text-shadow: 2px 2px black;
}

.blocks {
    
    display: inline-block;
    max-width: 300px;
    padding: 10px;
    margin: 10px 5px 5px 15px;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 270px;
    background-color: black !important;
    opacity: .9;
}

.page-footer{
    background-color: #282826 !important;
    
    text-align: center; 
}

.footer-copyright {
    background-color: #282826 !important;
    
   
    
    text-align: center; 
}


.modal {
    max-height: 90%;   
  }
  
  .modal-form-row {
    margin-bottom: 0px;
  }

 .active:hover {
     background-color: #3498db;
 }

 .about:hover {
     background-color: #3498db;
 }
  

 

  

